######## GENERAL IGNORES #######

# ignore logs, OS cache files
*.log
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
.vs

######## GENERAL .NET IGNORES ########

# Ignore binaries in the source
src/*/bin
src/*/obj
lib/sitecore/*
!lib/sitecore/readme.txt
src/Dianoga.Tests/Optimizers/Pipelines/DianogaSvg/SVGO

# Ignore user-scoped solution and project settings
*.user
*.suo

# NuGet packages
packages/*
!packages/repositories.config
Build/*.nupkg
/integration-tests/.env
