<!--
	Dianoga image optimization framework configuration
	Automatically optimizes Sitecore media library images before sending them to the client
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<!-- 
				DIANOGA OPTIMIZE
				Pipeline that defines the overall optimizations Dianoga will run.
				This usually uses file extensions or MIME types to dispatch to specific file type
				optimization pipelines.
				
				See the file type patches for the entries for this pipeline.
			-->
			<dianogaOptimize>
			</dianogaOptimize>
		</pipelines>
	</sitecore>
</configuration>