<!--
	Sets up Dianoga to act as a replacement media cache, which optimizes images on their way to the cache
	
	This is advantageous because it does not slow down the page load time of a visitor who is the first visitor
	(they will get unoptimized images, however). It is not advantageous if you are planning to use a CDN where
	it needs the optimized image the first time.
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<initialize>
				<!-- Replaces the default MediaManager.Cache implementation with one that optimizes images on the way to cache -->
				<processor type="Dianoga.Invokers.MediaCacheAsync.Pipelines.Initialize.MediaCacheReplacer, Dianoga" />
			</initialize>
		</pipelines>
	</sitecore>
</configuration>