<!--
	Configures Dianoga to optimize images using webp format
	By default if browser will sent "image/webp" in accept header then cwebp optimizer will be used.
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<dianogaGetSupportedFormats>
				<processor type="Dianoga.NextGenFormats.Pipelines.DianogaGetSupportedFormats.CheckSupport, Dianoga" desc="webp">
					<Extensions>webp</Extensions>
				</processor>
			</dianogaGetSupportedFormats>

			<mvc.renderRendering>
				<processor
					type="Dianoga.NextGenFormats.Pipelines.GenerateCacheKey, Dianoga"
					patch:after="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.GenerateCacheKey, Sitecore.Mvc']" desc="webp">
					<Extensions>webp</Extensions>
				</processor>
			</mvc.renderRendering>
		</pipelines>
	</sitecore>
</configuration>