<!--
	Dianoga Log Configuration
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<log4net>
			<appender name="DianogaFileAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
				<file value="$(dataFolder)/logs/Dianoga.log.{date}.txt"/>
				<appendToFile value="true"/>
				<layout type="log4net.Layout.PatternLayout">
					<conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n"/>
				</layout>
				<encoding value="utf-8"/>
			</appender>
			<logger name="Dianoga" additivity="false">
				<level value="INFO" />
				<appender-ref ref="DianogaFileAppender"/>
				<!-- On Azure PaaS you may want to enable this for App Insights logging
				<appender-ref ref="AzureFallbackAppender" desc="AzureFallbackAppender" />
				-->
			</logger>
		</log4net>
	</sitecore>
</configuration>