<!--
	Configures Dianoga to optimize JPEG images
	By default this uses the MozJpeg library, which results in good file size reduction for the web.
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<dianogaOptimize>
				<!-- if adding new processors make sure they have a unique desc attribute -->
				<processor type="Dianoga.Processors.Pipelines.DianogaOptimize.ExtensionBasedOptimizer, Dianoga" desc="jpeg">
					<Extensions>jpg, jpeg, jfif, jpe</Extensions>
					<Pipeline>dianogaOptimizeJpeg</Pipeline>
				</processor>
			</dianogaOptimize>

			<!-- 
				DIANOGA OPTIMIZE JPEG
				Pipeline that defines how JPEGs get optimized. Multiple optimizers may run over the same file.
				Optimizers should derive from OptimizerProcessor or CommandLineToolOptimizer.
				
				Optimizers are expected to close the stream they receive under any circumstances!
			-->
			<dianogaOptimizeJpeg>
				<processor type="Dianoga.Optimizers.Pipelines.DianogaJpeg.MozJpegOptimizer, Dianoga">
					<ExePath>/App_Data/Dianoga Tools/mozjpeg_3.1_x86/jpegtran.exe</ExePath>
					<AdditionalToolArguments>-progressive</AdditionalToolArguments>
				</processor>
			</dianogaOptimizeJpeg>
		</pipelines>

		<settings>
			<!-- 
				The default resizing quality for JPEGs is extremely high (95) which wastes bandwidth.
				Community recommendations place the optimal JPEG quality/size ratio between 70 and 80.
			-->
			<setting name="Media.Resizing.Quality">
				<patch:attribute name="value">72</patch:attribute>
			</setting>
		</settings>
	</sitecore>
</configuration>