<!--
	Configures Dianoga to optimize images using JpegXL format
	By default if browser will sent "image/jxl" in accept header then JpegXL optimizer will be used.
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<dianogaGetSupportedFormats>
				<processor type="Dianoga.NextGenFormats.Pipelines.DianogaGetSupportedFormats.CheckSupport, Dianoga" desc="jxl">
					<Extension>jxl</Extension>
				</processor>
			</dianogaGetSupportedFormats>

			<mvc.renderRendering>
				<processor
					type="Dianoga.NextGenFormats.Pipelines.GenerateCacheKey, Dianoga"
					patch:after="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderRendering.GenerateCacheKey, Sitecore.Mvc']" desc="jxl">
					<Extension>jxl</Extension>
				</processor>
			</mvc.renderRendering>
		</pipelines>
	</sitecore>
</configuration>