<!--
	Dianoga image optimization framework configuration
	Automatically optimizes Sitecore media library images before sending them to the client,
	including if they have been resized by Sitecore
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<getMediaStream>
				<processor type="Dianoga.OptimizeImage, Dianoga" />
			</getMediaStream>
		</pipelines>

		<settings>
			<!-- 
				The default resizing quality for JPEGs is extremely high (95) which wastes bandwidth.
				Community recommendations place the optimal JPEG quality/size ratio between 70 and 80.
			-->
			<setting name="Media.Resizing.Quality" value="72" />
		</settings>

		<dianoga>
			<optimizers>
				<optimizer type="Dianoga.Png.PngOptimizer, Dianoga" />
				<optimizer type="Dianoga.Jpeg.JpegOptimizer, Dianoga" />
			</optimizers>
		</dianoga>
	</sitecore>
</configuration>